body 
{
background: #101010 ;
}

#sideBox 
{
width: 540px;
height: 230px;
float: left;
}

.card
{
width: 110px;
height: 160px;
float: left;
margin: 10px;
position: relative;
-webkit-perspective: 700;
overflow: visible;
cursor: crosshair;	
}

.card > div{
width: 110px;
height: 160px;
border-radius: 8px;
    position: absolute; 
    top: 0; left: 0;
}
 

/* layout & transform*/
/*.card {
    position: relative;
    -webkit-perspective: 700;
    overflow: visible;
}
*/

.face-fwd {
    -webkit-transform-style: preserve- 3 d;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all ease-in-out 0.4s;
    z-index: 900;
    background: url("card_image.jpg") no-repeat green;
    box-shadow: 5px 5px 13px #FFFF66 ;
}

.face-back {
    z-index: 800;
    background: white;
    -webkit-transform: rotatey(-180deg);
    -webkit-transform-style: preserve- 3 d;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all ease-in-out 0.4s;
    opacity: 0;
    box-shadow: 3px 3px 15px #FFFF66;
}
 	  	
.card.click .face-fwd, .card.match .face-fwd {
    z-index: 900;
    -webkit-transform: rotatey(180deg);
    opacity: 0;
}

.card.click .face-back,  .card.match .face-back{
    z-index: 1000;
    -webkit-transform: rotatey(0deg);
    opacity: 1;
} 

.suite {
text-align: center;
font-size: 60pt;
font-family: Times;
position: absolute;
top: 30px;
left: 30px;
}

.rank {
text-align: center;
font-size: 14pt;
font-family: Times;
position: absolute;
top: 5px;
left: 6px;
}

.r
{
color: red;
}

#player_details {
float: right;
clear: right;
height: 700px;
width: 250px;
color: white;
text-align: center;
background: #101010;
}

.player1_info {
float: right;
height: 305px;
width: 250px;
color: white;
text-align: center;
border: 1px solid #FFFF66;
background: #101010;
border-radius: 10px;
clear: right;
margin-top: 15px;
}

.player2_info {
float: right;
height: 310px;
width: 250px;
color: white;
text-align: center;
border: 1px solid #FFFF66;
background: #101010;
border-radius: 10px;
clear: right;
}

/*.player2_info p{
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}*/

div.player_info div {
border-radius: 7px;
}

#player1_turns {
margin-top: 19px;
margin-left: 15px;
margin-right: 15px;
border: 1px solid #FFFF66;
background: #202020;
border-radius: 5px;
}

#player1_matches {
margin-top: 19px;
margin-left: 35px;
margin-right: 35px;
border: 1px solid #FFFF66;
background: #202020;
border-radius: 5px;
}

#player2_matches {
margin-top: 19px;
margin-left: 35px;
margin-right: 35px;
border: 1px solid #FFFF66;
background: #202020;
border-radius: 5px;
}

#player1_photo {
height: 150px;
width: 150px;
}

#player2_photo {
height: 150px;
width: 150px;
}

#photo {
position: relative;
}

#player1_instruction{
color: white;
background: #202020;
border-radius: 4px;
margin-left: 15px;
margin-right: 15px;
border: 1px solid #FFFF66;
cursor: pointer;
}

#player2_instruction{
color: white;
background: #202020;
border-radius: 4px;
margin-left: 15px;
margin-right: 15px;
border: 1px solid #FFFF66;
cursor: pointer;
}

#pic1_instruction{
top: 0;
background: #202020; 
padding: 5px;
color: white;
font-weight: none;
margin-top: 20px;;
margin-left: 10px;;
margin-right: 10px;
border: 1px solid #FFFF66;
border-radius: 5px;
cursor: pointer;
}

#pic2_instruction{
top: 0;
background: #202020; 
padding: 5px;
color: white;
font-weight: none;
margin-top: 20px;;
margin-left: 10px;;
margin-right: 10px;
border: 1px solid #FFFF66;
border-radius: 5px;
cursor: pointer;
}

#save_game {
color: white;
background: #202020;
border-radius: 4px;
margin-top: -2px;
border: 1px solid #FFFF66;
cursor: pointer;
}

#reset_game {
color: white;
background: #202020;
border-radius: 4px;
margin-top: -2px;
/*margin-left: 2px;*/
border: 1px solid #FFFF66;
cursor: pointer;
}

.options {
float: right;
top: 0;
background: #202020;
color: white;
font-weight: none;
margin-top: 7px;
/*margin-left: 10px;*/
margin-right: 35px;
border: none;/*1px solid #FFFF66;*/
border-radius: 5px;
} 

#vs {
margin-top: 0 auto;
width: 100%;
clear: right;

}

.options_button {
border-radius: 4px;
background: white;
height: 21px;
width: 93px;
}

#player_options .options_button:hover {
background: black;
border: 1px solid #FFFF66;
color: white;
}

#hold_displayOptions {
margin: 375 auto;
width: 15%;
}

[player_turn="active"]{
    background: green !important;
}

[playr_turn="inactive"]{
    background: rgba(0,0,0,0.9) !important;
}


