body 
{
background: #101010 ;
}

#sideBox 
{
width: 540px;
height: 230px;
float: left;
}

.card
{
width: 110px;
height: 160px;
float: left;
margin: 10px;
position: relative;
-webkit-perspective: 700;
overflow: visible;
cursor: crosshair;	
}

.card > div{
width: 110px;
height: 160px;
border-radius: 8px;
    position: absolute; 
    top: 0; left: 0;
}
 

/* layout & transform*/
/*.card {
    position: relative;
    -webkit-perspective: 700;
    overflow: visible;
}
*/

.face-fwd {
    -webkit-transform-style: preserve- 3 d;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all ease-in-out 0.4s;
    z-index: 900;
    background: url("card_image.jpg") no-repeat green;
    box-shadow: 5px 5px 13px #FFFF66 ;
}

.face-back {
    z-index: 800;
    background: white;
    -webkit-transform: rotatey(-180deg);
    -webkit-transform-style: preserve- 3 d;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all ease-in-out 0.4s;
    opacity: 0;
    box-shadow: 3px 3px 15px #FFFF66;
}
 	  	
.card.click .face-fwd, .card.match .face-fwd {
    z-index: 900;
    -webkit-transform: rotatey(180deg);
    opacity: 0;
}

.card.click .face-back,  .card.match .face-back{
    z-index: 1000;
    -webkit-transform: rotatey(0deg);
    opacity: 1;
} 

.suite {
text-align: center;
font-size: 60pt;
font-family: Times;
position: absolute;
top: 30px;
left: 30px;
}

.rank {
text-align: center;
font-size: 14pt;
font-family: Times;
position: absolute;
top: 5px;
left: 6px;
}

.r
{
color: red;
}

.player_info {
float: right;
height: 340px;
width: 250px;
color: white;
text-align: center;
border: 1px solid #FFFF66;
background: #101010;
border-radius: 10px;
}

/*div.player_info {
border-radius: 10px;
}*/

div.player_info div {
border-radius: 7px;
}

#turns_instruction {
border-radius: 5px;
}

#player_photo {
height: 150px;
width: 150px;
}

#photo {
position: relative;
}

#player_instruction{
color: white;
background: #202020;
border-radius: 4px;
margin-left: 40px;
margin-right: 40px;
border: 1px solid #FFFF66;
}

#pic_instruction{
top: 0;
background: #202020; 
padding: 5px;
color: white;
font-weight: none;
margin-top: 20px;;
margin-left: 10px;;
margin-right: 10px;
border: 1px solid #FFFF66;
border-radius: 5px;
} 

#turns_instruction {
margin: 20px;
border: 1px solid #FFFF66;
background: #202020;
}

#save_game {
color: white;
background: #202020;
border-radius: 4px;
margin-top: -2px;
border: 1px solid #FFFF66;
}

#reset_game {
color: white;
background: #202020;
border-radius: 4px;
margin-top: -2px;
/*margin-left: 2px;*/
border: 1px solid #FFFF66;
}
