<!doctype>
<!-- <html manifest="manifest.appcache"> -->
<html>
	<head>
		<title>Memory Game - Ramoy style!</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
	</head>
	<body>
		<audio id="sound" style="display: none">
			<source src="/static/sound/turned.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
		<div id="hold_displayOptions">
			<div id="displayOptions">
				<div id='player_options'>
				<input onclick= "setPlayerMode(1)" type="button" value="Single Player" class= "options_button" />
				<input onclick= "setPlayerMode(2)" type="button" value="VS Mode" class= "options_button" />
				</div>
			</div>
		</div>

		<div id="sideBox"></div>
		
		<div class="options">
			<input type="button" id="save_game" value="Save Game" />
			<input type="button" id="reset_game" value="Reset Game" />
		</div>
<div id="player_details">
		<div class="player1_info">
			<p id="player1_instruction">Player 1, click here to set name.</p>
			<div id="photo">
			<img src="{{ url_for('static', filename='default_photo.png') }}" id="player1_photo" />
			<p id="pic1_instruction">Click here to change profile pic.</p>
			</div>
			<p id='player1_turns'>Number of turns remaining, <span id='numTurns1'>24</span></p>
		</div>
</div>
		<script src="{{url_for('static', filename='cards.js')}}"></script>
	</body>
</html>
