<!doctype>
<!-- <html manifest="manifest.appcache"> -->
<html>
	<head>
		<title>Memory Game - Ramoy style!</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
	</head>
	<body>
		<audio id="sound" style="display: none">
			<source src="/static/sound/flip.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
		<div id="sideBox">

			
			
		</div>
		<div class="player_info">
			<p id="player_instruction">Click here to set name.</p>
			<div id="photo">
			<img src="{{ url_for('static', filename='default_photo.png') }}" id="player_photo" />
			<p id="pic_instruction">Click here to change profile pic.</p>
			</div>
			<p id="turns_instruction">Number of turns remaining: <span id="player_turns"></span></p>
			<input type="button" id="save_game" value="Save Game" />
			<input type="button" id="reset_game" value="Reset Game" />
		</div>
		<script src="{{url_for('static', filename='cards.js')}}"></script>
	</body>
</html>
